<div class="row">
  <div class="col-xs-12 bannerinner">
    <%= image_tag("about-banner.jpg", class: "img-responsive", alt: "", width: "100%") %>
    <div class="pagetitle">
      About TelaDietitian
    </div>
  </div>
</div>
<div class="inner-contentarea">
  <div class="col-xs-12">
    <div class="headline">TelaDietitian is the trusted provider of medical nutrition therapy using telehealth.</div>
    <p>With expert Registered Dietitians ready to help patients with a range of health conditions. TelaDietitian aims to eliminate the barriers of cost, convenience and access to the nutrition care patients need.</p>
  </div>
  <div class="col-sm-6 col-xs-12">
    <ul class="aboutulli">
      <li>Dumping Syndrome 
        <li>Lactose Intolerance</li>
        <li>Lupus</li>
        <li>Gastroesophageal Reflux Disease (GERD)</li>
        <li>Hypertension (High Blood Pressure)</li>
        <li>Gout</li>
        <li>Asthma</li>
        <li>Coronary Artery Disease </li>
        <li>Hypercholesterolemia (High Cholesterol)</li>
        <li>Congestive Heart Failure</li>
        <li>Chronic Kidney Disease (Non-Dialysis, Non Kidney Transplant)</li>
        <li>Chronic Kidney Disease (Hemodialysis)</li>
        <li>Chronic Kidney Disease (Peritoneal Dialysis)</li>
        <li>Chronic Kidney Disease (Kidney Transplant)</li>
        <li>Chronic Obstructive Pulmonary Disease</li>
        <li>Chronic Pancreatitis</li>
        <li>Juvenile Diabetes</li>
        <li>Gestational Diabetes</li>
        <li>Osteoporosis</li>
        <li>Diverticulosis</li>
        <li>Type 2-Diabetes Mellitus </li>
        <li>Crohn’s Disease</li>
        <li>Anemia</li>
        <li>Celiac Disease</li>
        <li>Crohn’s Disease</li>
        <li>Cushing Syndrome</li>
        <li>Ulcerative Colitis</li>
        <li>Low FODMAPS for Irritable Bowel Syndrome (IBS)/Inflammatory</li>
      </ul>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ul class="aboutulli">
        <li>Bowel Syndrome</li>
        <li>(IBD)</li>
        <li>Hyperthyroidism</li>
        <li>Hypothyroidism</li>
        <li>Alzheimer’s </li>
        <li>Rheumatoid Arthritis</li>
        <li>Arthritis</li>
        <li>Adrenal Fatigue</li>
        <li>Endometriosis</li>
        <li>Fibromyalgia</li>
        <li>Diverticulitis (Preventing Flare Up- High Fiber)</li>
        <li>Diverticulitis (Experiencing Flare Up- Low Fiber)</li>
        <li>Grave’s Disease</li>
        <li>Hashimoto’s</li>
        <li>Candidiasis</li>
        <li>Urinary Tract Infection</li>
        <li>Peptic Ulcer</li>
        <li>Post Gastric Bypass Surgery</li>
        <li>Malnutrition</li>
        <li>Diet & Symptom Management for Oncology Patients
          <ul>
            <li>- Nausea
              <li>- Metallic Taste</li>
              <li>- Mouth Sores</li>
              <li>- Constipation</li>
              <li>- Diarrhea</li>
              <li>- Neutropenia</li>
              <li>- Day of Chemo</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>