<footer class="container">
      <div class="row nomargin footer">
          <div class="col-xs-6 footerlft">
              <ul>
                  <li><a href="#">terms of use</a></li>
                  <li><a href="#">careers</a></li>
                  <li><a href="#">media</a></li>
                  <li><a href="#">faq's</a></li>
              </ul>
              <div class="clear"></div>
              <p>
                  Copyright 2015 Nutrify. All right reserved.
              </p>
          </div>
          <div class="col-xs-6 footerrght">
              <p>Powered by <%= image_tag("footerlogo.jpeg", alt: "", title: "", border: "")  %></p>
          </div>
      </div>
</footer>
